{% extends 'index.html' %}

{% block content %}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			
			<div class="blog-wrap">
				<div class="container pd-0">
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<div class="blog-detail card-box overflow-hidden mb-30">
								<div class="blog-caption">
									<h4 class="mb-10">{{announcement.title}}</h4>
									<p>{{announcement.content|safe}}</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12">							
							<div class="card-box mb-30">
								<h5 class="pd-20 h5 mb-0">Latest Announcements</h5>
								<hr>
								<div class="latest-post">
									<ul>
										{% for announcement in latest %}
										<li>
											<h4><a href="{% url 'announcement_details' announcement.id %}">{{announcement.title}}</a></h4>
											<span>{{announcement.snippet|safe}}</span>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "includes/account/footer.html" %}

	</div>
</div>

{% endblock %}