{% extends 'index.html' %}

{% block content %}
  
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>New Announcement</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">New Announcement</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
         
            <div class="pd-20 card-box mb-30">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{form.media}}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-primary btn-sm">Publish</button>
                </form>
            </div>
        </div>
    	{% include "includes/account/footer.html" %}

    </div>
</div>


{% endblock  %}



<!-- <script> -->
    // const title = document.getElementById('id_title');
    // title.className = 'form-control';
    // title.placeholder = 'Enter Announcement Title';

    // const content = document.getElementById('id_content');
    // content.className = 'form-control';

<!-- </script> -->