[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-widget-tweaks = "*"
django-userforeignkey = "*"
django-ckeditor = "*"
django-taggit = "*"
django-crispy-forms = "*"
filters = "*"
django-allauth = "*"
whitenoise = "*"
django-filter = "*"
pillow = "*"
gunicorn = "*"
psycopg2-binary = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.8"
